{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading jumbotron-title">E - Gaming</h1>
            <p class="lead text-muted mb-3">Que vous cherchiez une souris filaire ou sans fil, une souris spécialisée pour FPS ou MOBA, ou un design adapté à votre prise en main de la souris, chaque joueur trouvera son bonheur dans notre vaste arsenal de souris de jeu. La question est : laquelle choisirez-vous ?</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner col-lg-9">
                        <div class="carousel-item active">
                            <img src="{{ asset('img/background/bgcover1.jpg') }}" class="d-block " alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5></h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('img/background/bgcover2.jpg') }}" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5></h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('img/background/bgcover3.jpg') }}" class="d-block " alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
                <div class="col-lg-3 cardHeart">
                    <div class="card">
                    <div class="card-header titreCardHeader text-uppercase text-center bgcolorGreen">
                        <i class="fa fa-heart colorBlack "></i> Coup de coeur
                    </div>
                    <img class="img-fluid border-0" src="{{ asset('img/background/heart.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center"><a href="#" class="titreProduit" title="View Product">Produit</a></h4>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-block colorGreen">99.00 &euro;</p>
                            </div>
                            <div class="col">
                                <a href="product.html  " class="btn btn-block colorGreen">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header  titreCardHeader text-uppercase bgcolorGreen">
                        <i class="fa fa-star"></i> Derniers produits
                    </div>
                    <div class="card-body bgcolorblack">
                        <div class="row">

                            {% for Last4 in Last4ID %}
                                <div class="col-lg-3">
                                    <div class="card mt-2">
                                        <img class="card-img-top" src="{{ asset('img/uploads/' ~ Last4.image) }}" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title"><a class="titreProduit" href="{{ path('view_product', {slug: Last4.slug, id: Last4.id}) }}" title="View Product">{{ Last4.name }}</a></h4>
                                            <p class="card-text LimitDescription">{{ Last4.description }}</p>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="btn btnPrice btn-block">{{ Last4.price }} &euro;</p>
                                                </div>
                                                <div class="col">
                                                    <a href="" class="btn btn-block addCart">Ajouter au panier</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 mb-4">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header titreCardHeader text-uppercase bgcolorGreen">
                        <i class="fa fa-trophy"></i> Meilleurs produits
                    </div>
                    <div class="card-body bgcolorblack">
                        <div class="row">
                            <div class="col-sm">
                                <div class="card">
                                    <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title"><a class="titreProduit" href="product.html" title="View Product">Produit</a></h4>
                                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        <div class="row">
                                            <div class="col">
                                                <p class="btn btnPrice btn-block">99.00 &euro;</p>
                                            </div>
                                            <div class="col">
                                                <a href="" class="btn btn-block addCart">Ajouter au panier</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card mt-2">
                                    <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title"><a class="titreProduit" href="product.html" title="View Product">Produit</a></h4>
                                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        <div class="row">
                                            <div class="col">
                                                <p class="btn btnPrice btn-block">99.00 &euro;</p>
                                            </div>
                                            <div class="col">
                                                <a href="" class="btn btn-block addCart">Ajouter au panier</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card mt-2">
                                    <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                                    <div class="card-body ">
                                        <h4 class="card-title"><a class="titreProduit" href="product.html" title="View Product">Produit</a></h4>
                                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        <div class="row">
                                            <div class="col">
                                                <p class="btn btnPrice btn-block">99.00 &euro;</p>
                                            </div>
                                            <div class="col">
                                                <a href="" class="btn btn-block addCart">Ajouter au panier</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card mt-2">
                                    <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title"><a class="titreProduit" href="product.html" title="View Product">Produit</a></h4>
                                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        <div class="row">
                                            <div class="col">
                                                <p class="btn btnPrice btn-block">99.00 &euro;</p>
                                            </div>
                                            <div class="col">
                                                <a href="" class="btn btnPrice btn-block addCart">Ajouter au panier</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>













{% endblock %}
