{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-headin colorGreen">Catégorie</h1>
            <p class="lead text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, veniam, eius aliquam quidem rem sunt nam quaerat facilis ex error placeat ipsa illo sed inventore soluta ipsum cumque atque ea?</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="linkGreen" href="">Accueil</a></li>
                        <li class="breadcrumb-item"><a class="linkGreen" href="">Catégorie</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sous catégorie</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bgcolorGreen titreCardHeader text-uppercase"><i class="fa fa-list"></i> Filtres</div>
                    <form action="" method="post">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="color[]" value="bleu" class="form-check-input" id="color-bleu">
                                    <label class="form-check-label" for="color-bleu">Bleu</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="color[]" value="rouge" class="form-check-input" id="color-red">
                                    <label class="form-check-label" for="color-red">Rouge</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="color[]" value="vert" class="form-check-input" id="color-vert">
                                    <label class="form-check-label" for="color-vert">Vert</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btnPrice  btn-block">Filtrer</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bgcolorGreen titreCardHeader text-uppercase"><i class="fa fa-list"></i> Catégories</div>
                    <ul class="list-group category_block">

                        {% for category in categories %}
                            <li class="list-group-item"><a class="linkGreen" href="{{ path('category', {'id':category.id}) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bgcolorGreen titreCardHeader text-uppercase">Dernier produit</div>
                    <div class="card-body">
                        <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
                        <h5 class="card-title mt-3">Produit</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="bloc_left_price">99.00 &euro;</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">


                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="card">
                                <img class="card-img-top" src="{{ asset('img/uploads/' ~ product.image) }}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a class="titreProduit" href="product.html" title="View Product">{{ product.name }}</a></h4>
                                    <p class="card-text">{{ product.pcstuff.name }}</p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="btn btnPrice btn-block">{{ product.price }} &euro;</p>
                                        </div>
                                        <div class="col">
                                            <a href="#" class="btn btnPrice btn-block">Ajouter au panier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>

        </div>
    </div>
{% endblock %}
