{% extends 'base.html.twig' %}

{% block title %}Hello EditController!{% endblock %}

{% block body %}

    <div class="container col-lg-4 FormAdd">
        {# J'affiche mon formulaire #}
        <h1>Editer un produit</h1>

        {{ form_start(AddProductFormType) }} <!-- <form method="POST>">-->

        <div >
            {{ form_label(AddProductFormType.name) }}
            {{ form_widget(AddProductFormType.name) }}
        </div>



        {{ form_widget(AddProductFormType) }}<!-- input-->
        <button class="btn btn-primary">Ajouter</button>
        {{ form_end(AddProductFormType) }}<!-- </form>>-->
    </div>
{% endblock %}
