<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet" type="text/css">

            <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/style.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/pagination.css') }}" >
            <link rel="stylesheet" href="{{ asset('/css/nav.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/footer.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/home.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/oneproduct.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/products.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/form.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/Edit.css') }}"  >
            <link rel="stylesheet" href="{{ asset('/css/cart.css') }}"  >

        {% endblock %}

    </head>
    <body>

    <nav class="navbar navbar-expand-md ">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}"><img class="logoNav" src="{{ asset('img/logo/logo.jpeg') }}" alt=""></a>
            <button class="navbar-toggler btnPrice" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" >
                <span class="navbar-toggler-icon "><i class="fas fa-ghost"></i></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('home') }}">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('products') }}">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart') }}"><i class="fa fa-shopping-cart"> </i>  Panier  </a>
                    </li>
                </ul>

                {# <form class="form-inline my-2 my-lg-0  d-flex">
                    <div class="input-group input-group-sm">
                        <label>
                            <input type="text" class="form-control" placeholder="Recherche...">
                        </label>
                        <div class="input-group-append">
                            <button type="button " class="btn buttonsearch btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form> #}

                <div class="dropdown">
                    <a class="btn btnPrice dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user %}
                            {{ app.user.username }}
                        {% else %}
                            Votre compte
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu btnPrice" aria-labelledby="dropdownMenuLink">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path ('add_product')}} ">Ajout produit</a></li>
                                <li><a class="dropdown-item" href="{{ path ('admin')}} ">Admin</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mt-4">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}



    {% block body %}{% endblock %}




    <!-- Footer -->
    <footer class="">

        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 footer-item">
                    <h5>A propos</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                    </p>
                </div>

                <div class=" col-12 col-md-6 col-lg-2 col-xl-2 mx-auto footer-item">
                    <h5>Informations</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class=" col-12 col-md-6 col-lg-2 col-xl-2 mx-auto footer-item">
                    <h5>Others links</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 col-lg-3 col-xl-3 footer-item">
                    <h5>Contact</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> My company</li>
                        <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                        <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                        <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                    </ul>
                </div>


           
            </div>
        </div>
    </footer>
         <div class="col-12 col-md-12 col-lg-12 copyright">
                    <p class="float-left">
                        <a href="#">Back to top</a>
                    </p>
                </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

    </body>
</html>
